AIRFLOW_UID=
AIRFLOW_VAR_GOOGLE_AIR_QUALITY_API_KEY = 
AIRFLOW_VAR_WEATHER_API_KEY = 
AIRFLOW_VAR_LATITUDE = 
AIRFLOW_VAR_LONGITUDE = 
AIRFLOW_VAR_DICIONARIO_BAIRRO = {
    "Bairro": ["latitude", "longitude"]
}
SECRET_KEY =
ALGORITHM =
ACCESS_TOKEN_EXPIRE_MINUTES =
AIRFLOW_VAR_AWS_S3_KEY_ID=
AIRFLOW_VAR_AWS_S3_SECRET=
AIRFLOW_VAR_AWS_S3_BUCKET_BRONZE=
AIRFLOW_VAR_AWS_REGION=